apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "voting-app-ruby.fullname" . }}-redis
  labels:
    app.kubernetes.io/name: {{ include "voting-app-ruby.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "voting-app-ruby.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/component: redis
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "voting-app-ruby.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/component: redis
    spec:
      containers:
      - name: redis
        image: "{{ .Values.redis.image }}"
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 6379
        readinessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 5
          periodSeconds: 5
        env:
        - name: REDIS_HOST
          value: {{ include "voting-app-ruby.fullname" . }}-redis
        - name: REDIS_PORT
          value: "6379"
