<h1>Vote for your favorite!</h1>
<form method='POST' action='/vote'>
  <input type='radio' name='vote' value='Cats'> Cats<br>
  <input type='radio' name='vote' value='Dogs'> Dogs<br>
  <button type='submit'>Vote!</button>
</form>
